body {
	background: #aaa;
}

* {
	padding: 0;
	margin: 0;
}

#show {
	margin-left: 950px;
	width: 600px;
	height: 300px;
	float: top;
	margin-top: -300px;
	font-size: 1.4em;		 	/* border: 1px solid; */
}

#Onebanner {
	width: 50%;
	margin-left: 160px;
	height: 430px;		 	/* margin-top: 30px; */
	margin-bottom: 30px;			/* border: 1px solid; */
}

.second {
	margin-top: 200px;
	width: 1200px;
	height: 700px;
	background-color: #bbb;			/* border: 1px solid black; */
	padding-top: 20px;
	margin: 0 auto;
	overflow: hidden;
}

.secondBanner {
	width: 1200px;
	height: 100px;			/*border:2px solid purple;*/
}

.menuData {
	width: 200px;
	height: 80px;		    /* margin-left: 120px; */
	border: 0;
	text-align: center;
	line-height: 80px;		    /* border-right: 1px solid #383b55; */
	display: inline-block;
	background-color: #ddd;
}

.menuData li {
	font-size: 25px;
	font-family: "宋体";
	line-height: 30px;
	font-weight: 500;			/* border-left: 1px solid blue; */
	padding: 10px 10px;
}

.seconeUnderBanner {
	width: 1200px;
	height: 400px;			/*height:自己定 */
	display: block;
}

#detail0 {
	width: 1200px;
	height: 600px;/*height根据内容决定，现在height的高度是显示第几部分的彩条框*/
	background-color: #ccc;
	display: block;
}

#detail1 {
	width: 1200px;
	height: 600px;/*height根据内容决定，现在height的高度是显示第几部分的彩条框*/
	background-color: #ccc;
	display: none;
}

#detail2 {
	width: 1200px;
	height: 600px;/*height根据内容决定，现在height的高度是显示第几部分的彩条框*/
	background-color: #ccc;
	display: none;
}

#detail3 {
	width: 1200px;			/*height根据内容决定*/
	background-color: orange;
	display: none;
}

#detail4 {
	width: 1200px;			/*height根据内容决定*/
	background-color: grey;
	display: none;
}

#detail5 {
	width: 1200px;			/*height根据内容决定*/
	background-color: grey;
	display: none;
}

.detailImg {
	text-align: center;
	width: 1000px;
	height: 670px;
	float: left;
}

.btn {
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: yellow;
	margin-right: 10px;
	float: right;
}

.secondBannerImg {
	width: 360px;
	float: left;
	margin-left: 25px;
	margin-top: 15px;
}

.secondBannerImg img {
	width: 300px;
	height: 250px;
	border-radius: 10%;
}

.detail {
	margin-top: 25px;
}

/*第三部分从这里开始*/
ul, li {
	list-style: none;
	margin-left: 60px;
}

#third {
	height: 480px;
	width: 100%;
	margin: auto;
	border-bottom: 1px dotted;
}

#say {

	/*这是粉丝评价截图：可以改颜色*/
	width: 250px;
	margin-left: 150px;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 0.9em;
	color: black;
}

.box {
	width: 600px;
	height: 383px;
	border: 1px solid #aaa;
	margin-left: 150px;
	position: relative;
	overflow: hidden;
}

.slider {
	width: 4200px;
	position: absolute;
	left: -600px;
}

.slide {
	width: 600px;
	overflow: hidden;
	float: left;
}

.slide>img {
	height: 383px;
	width: 600px;
}

.box>span {
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color:;
	top: 195px;
	line-height: 50px;
	background: #aaa;/*轮播图按钮颜色，可修改*/
	font-size: 30px;
	position: absolute;
	opacity: 0;
}

#left {
	left: 30px;
}

#right {
	right: 30px;
}

#write {
	width: 20px;
	height: 200px;
	margin-top: -400px;
	margin-left: 850px;
	color: black;/*这是评论：可以改颜色*/
}

textarea {
	width: 320px;
	height: 180px;
	font-size: 16px;
	margin-top: 150px;
	margin-left: 100px;
	background-color: #bbb;
}

span:hover {
	cursor: pointer;
}

#word {
	height: 400px;
	margin-top: -200px;
	margin-left: 800px;
}

#btn {
	background-color: #bbb;
}

/*第三部分到这里结束*/
a {
	text-decoration: none;
	color: black;
}

.container {
	border: 2px solid black;
	height: 900px;
}

#fourcontainer {
	height: 315px;
	background-color: black;
}

#daohang {
	height: 50px;
	border: 2px;
}

#Bimg {
	height: 500px;
	margin: 0 auto;
}

#Bimg1 {
	height: 495px;
	margin-left: 400px;
}

#fourcontainer a {
	font-size: 50px;
	color: #af3331;
	margin-left: 450px;
}

#fourcontainer p {
	color: #af3331;
	margin-left: 50px;
}

#searchp {
	margin-left: 300px;
	font-size: 50px;
	color: #af3331;
}

#inputcontainer {
	height: 35px;
	width: 300px;
	margin: 0 auto;
}

#searchinputdiv {
	background-color: #af3331;
	height: 35px;
	width: 240px;
	border-radius: 20%;
}

#input {
	background-color: #af3331;
	height: 35px;
	width: 240px;
	border-radius: 20%;
}

#buttondiv {
	height: 30px;
	width: 30px;
	border-radius: 20%;
	margin-left: 250px;
	margin-top: -32px;
}

#searchbutton img {
	height: 30px;
	width: 30px;
	border-radius: 20%;
}

#searchbutton {
	height: 30px;
	width: 30px;
	border-radius: 20%;
}

#bottomdiv {
	height: 150px;
	width: 1300px;
	margin: 0 auto;
	margin-top: 15px;
}

#biaoqian {
	margin-left: 100px;
	margin-top: 10px;
	height: 130px;
	width: 250px;
}

.circle p {
	margin-top: 5px;
	color: #af3331;
	font-size: 12px;
}

#resou {
	margin-left: 500px;
	margin-top: -140px;
	height: 130px;
	width: 350px;
}

#little {
	color: #ccc;
	font-size: 2px;
	margin-left: 100px;
}

.answer {
	width: 60px;
	height: 20px;
	color: #af3331;
	font-size: 5px;
	margin-top: -17px;
	margin-left: 100px;
	display: none;
}

#noanswer {
	color: #585252;
	font-size: 2px;
	width: 400px;
	height: 10px;
	display: none;
	margin-top: -5px;
}

#make {
	width: 300px;
	height: 130px;
	margin-top: -130px;
	margin-left: 950px;
}

#makediv {
	height: 50px;
	width: 50px;
	margin-top: 30px;
	margin: 0 auto;
	border-radius: 20%;
}

#makebutton {
	background-color: #af3331;
	height: 45px;
	width: 45px;		/*margin:0 auto;*/
	margin-left: 1px;
	border-radius: 20%;
	font-size: 0.3em;
}

#make p {
	margin-left: -20px;
	color: #af3331;
	font-size: 10px;
}

#makexiaozhan {
	color: #af3331;
	font-size: 2.5em;
	margin-left: 110px;
	display: none;
}

#bottomdiv1 {
	border: 1px dotted #655253;
	height: 20px;
	margin-bottom: 0;
	margin-top: 40px;
}

#bottom302 p {
	margin-top: color:#655253;
	font-size: 0.3em;
}
